
@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>
Welcome to the sample application which shows you the integretion of OWIN into an existing MVC Application
This sample application is based on OWIN. Please see the related <code>packages.config</code> for details

<h3>ASP.NET MVC</h3>
This is the MVC Part of the WebApplication. To visit the ASP.NET Web API Part, please visit <a href="~/api/status">api/status</a>

<h3>ASP.NET Web API</h3>
The ASP.NET Web API Part of the application is completely separated in an own Project named "MyProject.Web.Api". There is also a OWIN-based SelfHost Console Application to show the Self-Hosting capabilities of HttpListener.

